<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="Printer01" value="PDF01" />
    <add key="Printer02" value="PDF02" />
    <add key="Printer03" value="PDF03" />
  </appSettings>
     <connectionStrings>
       <add name="DataConnectionString" connectionString="server=192.168.1.99;User Id=admin;password=123456789;database=vvpos;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;" providerName="MySql.Data.MySqlClient" />
       
        <!--<add name="DataConnectionString"
             connectionString="server=localhost;User Id=admin;password=;database=vvpos;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;"
             providerName="MySql.Data.MySqlClient"/>-->
     
        <!--<add name="DataConnectionString"
             connectionString="server=localhost;User Id=;password=;database=vvpos;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;"
             providerName="MySql.Data.MySqlClient"/>-->
     
    </connectionStrings>
</configuration>
