<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" executionTimeout="9000" maxRequestLength = "16384"/>
    </system.web>
  <appSettings>
    <add key="Printer01" value="PDF01" />
    <add key="Printer02" value="PDF02" />
    <add key="Printer03" value="PDF03" />
  </appSettings>
     <connectionStrings>
        <add name="DataConnectionString"
             connectionString="server=localhost;User Id=admin;password=123456789;database=pos_hdt;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;"
             providerName="MySql.Data.MySqlClient"/>
        <!--<add name="DataConnectionString"
             connectionString="server=localhost;User Id=root;password=;database=crmvietvang;Allow Zero Datetime=True;Convert Zero Datetime=True; charset=utf8;"
             providerName="MySql.Data.MySqlClient"/>-->
    </connectionStrings>
</configuration>
