<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VVPosM1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="MyLastURL" value="192.168.0.99:8389" />
    <add key="MyLastURL2" value="118.69.182.134:8389" />
    <add key="MaxRecord" value="50" />
    <add key="MaxRecordDesk" value="20" />
    <add key="CallExe" value="C:\\Program Files (x86)\\Viet Vang\\My Product Name\\DesktopPOS.exe" />
    <add key="VAT" value="10" />

    <!--Text length number-->
    <add key="MaxPrice" value="16" />
    <add key="MaxTotal" value="26" />

    <!--Text Format number-->
    <add key="TextFormatNum" value="###,###,##0" />
    
    <!--Score to Vip member-->
    <add key="VIPSCORE" value="1500" />
    <!--Separator product coupon in promotion-->
    <add key="SEPARATOR" value="," />
    <!--Unit score calculate score when payment-->
    <add key="UNITSCORE" value="10000" />
    <!--size of picture that resize before save into database-->
    <add key="PWIDTH" value="200" />
    <add key="PHEIGHT" value="133" />
    <!--Number copies of receipt print-->
    <add key="NUMBER_PRINT_PAGE_COPY" value="1" />
    <!--Default vi-VN-->
    <add key="CULTURE_NAME" value="vi-VN" />
    <!--Define background color-->
    <add key="BACKGROUND_COLOR" value="#916F5D" />
    <!--Define background image-->
    <add key="BACKGROUND_IMAGE" value="bground.png" />
    <!--Define logo image-->
    <add key="LOGO_IMAGE" value="grandspa_logo.png" />
    <!--Define title color-->
    <add key="LABEL_TITLE_COLOR" value="#C2B49A" />
    <!--Define textbox color-->
    <add key="TEXTBOX_COLOR" value="#000000" />
    <!--Define label color-->
    <add key="TEXTBOX_COLOR" value="#000000" />
    <!--Define label value color that show value from database not label-->
    <add key="LABEL_VALUE_COLOR" value="#000000" />
    <!--Define label required color that show (*) value and result check-->
    <add key="LABEL_REQUIRED_COLOR" value="#FF0000" />
    <!--Define text button color-->
    <add key="TEXTBUTTON_COLOR" value="#000000" />
    <!--Define title groupbox color-->
    <add key="TITLE_GROUPBOX_COLOR" value="#C2B49A" />
    <!--Define panel background color-->
    <add key="LISTCHECKBOX_BACKGROUND_COLOR" value="#916F5D" />
    <!--Define list checkbox color-->
    <add key="LISTCHECKBOX_COLOR" value="#000000" />
    <!--Define text combobox color-->
    <add key="TEXTCOMBOBOX_COLOR" value="#000000" />
    
    <!--Define score change money-->
    <add key="pSCORE" value="100" />
    <add key="pMONEY" value="10000" />
    <!--Define LANGUAGE PRINT ORDER-->
    <add key="LANGUAGE_PRINT_ORDER" value="vi-VN" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MyLastURL" value="192.168.0.99:8389" />
    <add key="MyLastURL2" value="118.69.182.134:8389" />
    <!--Score to Vip member-->
    <add key="VIPSCORE" value="1500" />
    <!--Separator product coupon in promotion-->
    <add key="SEPARATOR" value="," />
    <!--Unit score calculate score when payment-->
    <add key="UNITSCORE" value="10000" />
    <!--size of picture that resize before save into database-->
    <add key="PWIDTH" value="200" />
    <add key="PHEIGHT" value="133" />
    <!--Number copies of receipt print-->
    <add key="NUMBER_PRINT_PAGE_COPY" value="1" />
    <!--Default vi-VN-->
    <add key="CULTURE_NAME" value="vi-VN" />
    <!--Define background color-->
    <add key="BACKGROUND_COLOR" value="#916F5D" />
    <!--Define background image-->
    <add key="BACKGROUND_IMAGE" value="bground.png" />
    <!--Define logo image-->
    <add key="LOGO_IMAGE" value="grandspa_logo.png" />
    <!--Define title color-->
    <add key="LABEL_TITLE_COLOR" value="#C2B49A" />
    <!--Define textbox color-->
    <add key="TEXTBOX_COLOR" value="#000000" />
    <!--Define label color-->
    <add key="TEXTBOX_COLOR" value="#000000" />
    <!--Define label value color that show value from database not label-->
    <add key="LABEL_VALUE_COLOR" value="#000000" />
    <!--Define label required color that show (*) value and result check-->
    <add key="LABEL_REQUIRED_COLOR" value="#FF0000" />
    <!--Define text button color-->
    <add key="TEXTBUTTON_COLOR" value="#000000" />
    <!--Define title groupbox color-->
    <add key="TITLE_GROUPBOX_COLOR" value="#C2B49A" />
    <!--Define panel background color-->
    <add key="LISTCHECKBOX_BACKGROUND_COLOR" value="#916F5D" />
    <!--Define list checkbox color-->
    <add key="LISTCHECKBOX_COLOR" value="#000000" />
    <!--Define text combobox color-->
    <add key="TEXTCOMBOBOX_COLOR" value="#000000" />
    <!--Define score change money-->
    <add key="pSCORE" value="100" />
    <add key="pMONEY" value="10000" />
    <!--Define LANGUAGE PRINT ORDER-->
    <add key="LANGUAGE_PRINT_ORDER" value="vi-VN" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>


  <applicationSettings>
    <VVPosM1.Properties.Settings>
      <setting name="VVPosM1_VVPosService_VVPosService" serializeAs="String">
        <value>http://localhost:62600/VVPosService.asmx</value>
      </setting>
      <setting name="VVPosM1_DestopService_DestopService" serializeAs="String">
        <value>http://localhost:8899/DestopService.asmx</value>
      </setting>
      <setting name="VVPosM1_WS1_WS1" serializeAs="String">
        <value>http://localhost:8899/WS1.asmx</value>
      </setting>
    </VVPosM1.Properties.Settings>
  </applicationSettings>
</configuration>
